<%= link_to '<< Previous', root_url(:offset => offset - 1) %> |
<%= link_to 'Next >>', root_url(:offset => offset + 1) %>

<ul>
  <% @days.each do |day| %>
    <li>
      <%= link_to_if logged_in?, day, visit_path(day), :method => :post %>
      <ul>
        <% day.visits.each do |visit| %>
          <li>
            <%= link_to visit, visit.user %>
            <% if visit.user == current_user %>
              <%= link_to 'x', unvisit_path(visit), :method => :delete %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
